@media screen and (max-width: 1225px){
	.wrapper { width: 1000px; }
}

@media screen and (max-width: 1025px){
	.wrapper { width: 800px; }
}

@media screen and (max-width: 825px){
	.wrapper { width: auto; padding: 0 20px; }
}

@media screen and (max-width: 701px){
	.toggle_mobile_menu { display: block; }
	.menu_module.horizontal, .menu_3, #gallery_header { display: none; }
	.header .wrapper .logo img{
		width:50%; 
	}
	.fa {
		font-size: 14px;
	}
	.header .wrapper{
		align-items: center;
	}
	.menu_module .dropdown {
		background-color: #2180b8;
		border: none;
	}
}

@media screen and (min-width:470px) and (max-width:701px) {
	#footer_nav1 {
		padding-left: 50px;
	}
}

@media screen and (max-width: 550px){
	/* .menu_module.horizontal,
	.menu_module.vertical { display: none; } */
	/* .toggle_mobile_menu { display: block; } */

	.grid .grid_box { width:100%; }
	.grid .grid_box .p_a { padding:15px 0; }
}

@media screen and (max-width: 600px) {
	#search_div {
	  float: none;
	}
	#search_div input[type=text] {
	  float: none;
	  display: block;
	  text-align: left;
	  width: 100%;
	  margin: 0;
	  padding: 14px;
	}
	 #search_div button {
		display: block;
		text-align: left;
		margin: 0;
		padding: 10px;
	  }
	#search_div input[type=text] {
	  border: 1px solid #ccc;  
	}
  }



