@media screen and (max-width: 1225px){
	.wrapper { width: 1000px; }
}

@media screen and (max-width: 1025px){
	.wrapper { width: 800px; }
}

@media screen and (max-width: 825px){
	.wrapper { width: auto; padding: 0 20px; }
}

@media screen and (max-width: 701px){
	.toggle_mobile_menu { display: block; }
	.menu_module.horizontal,
	.menu_module.vertical { display: none; }
	.header .wrapper .logo img{
		width:50%; 
	}
	.fa {
		font-size: 40px;
	}
}

@media screen and (max-width: 550px){
	/* .menu_module.horizontal,
	.menu_module.vertical { display: none; } */
	/* .toggle_mobile_menu { display: block; } */

	.grid .grid_box { width:100%; }
	.grid .grid_box .p_a { padding:15px 0; }
}




