/* General */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.wrapper {
	width: 1200px;
}

h1 {
	color:  #2da8f0;
	text-align: center;
	margin-bottom: 25px;
}

h5 {
	font-size: 1rem;
	color:  #2da8f0;
	margin: 1.67rem 0 5px;
}


/* Links */

a {
	color: #333;
}

a:hover { 
	opacity: .75;
}



/* Buttons */

a.btn,
input[type="submit"],
input[type="button"] {
	display: inline-block;
	margin: 0 5px;
	padding: 5px 10px;
	background-color: #CCC;
	border: 1px solid #CCC;
	text-decoration: none;
}

a.btn:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
	background-color: transparent;
	opacity: 1;
}



/* Header */

.header {
	position: relative;
	line-height: 23px;
    font-weight: 500;
    background-color: #2da8f0;
    width: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    z-index: 99999;
	padding-block: 10px;
	border-bottom: 3px solid rgb(10, 71, 121);
}

.header .wrapper{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.header .wrapper .logo{
	width:200px; 
	float:left;
}
.header .wrapper .logo img{
	width:100%; 
	-webkit-filter: drop-shadow(5px 5px 5px rgb(10, 71, 121));
	filter: drop-shadow(5px 5px 5px rgb(10, 71, 121));
}

.menu_module {
	color: #fff;
	font-weight: bolder;
}

.menu_module.menu_1 div {
	padding: 15px;
}

.menu_module.menu_1 a {
	color: #fff;
	text-decoration: none;
	font-weight: bolder;
	font-size: 1.5rem;
	transition: 0.3s ease-in-out;
}

.menu_module .dropdown {
	background-color: #2da8f0;
	padding-block: 15px;
	border-radius: 15px;
	border-bottom: 3px solid rgb(10, 71, 121);
	border-left: 3px solid rgb(10, 71, 121);
	border-right: 3px solid rgb(10, 71, 121);
}

.menu_module.mobile {
	background-color: #2da8f0;
}

.menu_module.menu_2 a,
.menu_module.menu_3 a{
	color: #fff;
	text-decoration: none;
	font-weight: bolder;
	transition: 0.3s ease-in-out;
}

.menu_module.menu_1 div a:hover,
.menu_module.menu_2 div a:hover,
.menu_module.menu_3 div a:hover{
	color: aqua;
	transition: 0.3s ease-in-out;
}


.menu_module.menu_1 div a:active,
.menu_module.menu_2 div a:active,
.menu_module.menu_3 div a:active{
	color: rgb(35, 102, 102);
	transition: 0.3s ease-in-out;
}

.menu_module.menu_2 .item,
.menu_module.menu_3 .item {
	display: block;
}

/* Page */

/* .page {
	padding-top: 250px;
} */

.section {
	padding: 50px 0;
}

.section_padless {
	padding: 0;
}



/* Footer */

.footer {
	background-color: rgb(10, 71, 121);
	color: #fff;
	border-top: 3px solid #2da8f0;
}

.footer .wrapper .logo img {
	width: 150px;
	padding: 15px 0;
	margin-bottom: 20px;
	margin-top: 15px;
}

#search_div {
	display: flex;
	align-items: center;
	margin-top: 25px;
}

#search_div input {
	padding: 6px 10px;
	margin-top: 8px;
	font-size: 17px;
	width: 25%;
	margin-right: 0;
}

#search_div button {
	margin-left: 0;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.footer .wrapper {
	display: flex;
	align-items: flex-start;
	padding-bottom: 25px;
}

.footer_nav {
	display: flex;
	flex-direction: row;
}

.copy {
	color:  #2da8f0;
}

/* Navigation */

/* News */

.news_module.listing {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.news_module.listing .entry {
	margin-inline: 15px;
	padding: 35px;
	width: 200px;
	box-shadow: 2px 2px rgb(10, 71, 121), -.05em -0.1em .2em #2da8f0;
}


.news_module.full_entry .entry .date {
	text-align: center;
}

.single_news_entry {
	text-align: center;
}

.news.module.listing .pagination .next {
	float: left;
}

.ca.entry .pagination .next {
	float: right;
}

/* FAQ */

.faq_module {
	width: 500px;
	box-shadow: 2px 2px rgb(10, 71, 121), -.05em -0.1em .2em #2da8f0;
	padding: 20px;
}

.page_3 .section .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.question {
	color: rgb(10, 71, 121);
}

.response {
	color:  #2da8f0;
}

.faq_module .entry.collapsed .question:after {
    color: #2da8f0;
}

/* Staff */

.staff_module.listing {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.staff_module.profile .person.ca {
	padding-left: 33%;
	padding-block: 35px;
}

.staff_module.listing .ilb.person {
	text-align: center;
}

.staff_module.listing div {
	padding: 3px;
}

/** Videos */

.youtube_video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  }
  .youtube_video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }

  .video_native {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  }
  .video_native video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }