/* General */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.wrapper {
	width: 1200px;
}

h5 {
	font-size: 1rem;
	color:  #2da8f0;
	margin: 0.5rem 0;
}


/* Links */

a {
	color: #333;
}

a:hover { 
	opacity: .75;
}


/* Buttons */

a.btn,
input[type="submit"],
input[type="button"] {
	display: inline-block;
	margin: 0 5px;
	padding: 5px 10px;
	background-color: #CCC;
	border: 1px solid #CCC;
	text-decoration: none;
}

a.btn:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
	background-color: transparent;
	opacity: 1;
}



/* Header */

.header {
	position: relative;
	line-height: 23px;
    font-weight: 500;
    background-color: #2da8f0;
    width: 100%;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    z-index: 99999;
	padding-block: 10px;
	border-bottom: 3px solid rgb(10, 71, 121);
}

.header .wrapper{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.header .wrapper .logo{
	width:200px; 
	float:left;
}
.header .wrapper .logo img{
	width:100%; 
	-webkit-filter: drop-shadow(5px 5px 5px rgb(10, 71, 121));
	filter: drop-shadow(5px 5px 5px rgb(10, 71, 121));
}

.menu_module {
	color: #fff;
	font-weight: bolder;
}

.menu_module.menu_1 div {
	padding: 15px;
}

.menu_module.menu_1 a {
	color: #fff;
	text-decoration: none;
	font-weight: bolder;
	font-size: 1.5rem;
	transition: 0.3s ease-in-out;
}

.menu_module .dropdown {
	background-color: #2da8f0;
	padding-block: 15px;
	border-radius: 15px;
	border-bottom: 3px solid rgb(10, 71, 121);
	border-left: 3px solid rgb(10, 71, 121);
	border-right: 3px solid rgb(10, 71, 121);
}

.menu_module.mobile {
	background-color: #2da8f0;
}

.menu_module.menu_2 a,
.menu_module.menu_3 a{
	color: #fff;
	text-decoration: none;
	font-weight: bolder;
	transition: 0.3s ease-in-out;
}

.menu_module.menu_1 div a:hover,
.menu_module.menu_2 div a:hover,
.menu_module.menu_3 div a:hover{
	color: aqua;
	transition: 0.3s ease-in-out;
}

.menu_module.menu_2 .item,
.menu_module.menu_3 .item {
	display: block;
}

/* Page */

/* .page {
	padding-top: 250px;
} */

.section {
	padding: 50px 0;
}

.section_padless {
	padding: 0;
}



/* Footer */

.footer {
	background-color: rgb(10, 71, 121);
	color: #fff;
	border-top: 3px solid #2da8f0;
}

.footer .wrapper .logo img {
	width: 150px;
	padding: 15px 0;
	margin-bottom: 20px;
}

.footer .wrapper {
	display: flex;
	align-items: flex-end;
	padding-bottom: 25px;
}

.footer_nav {
	display: flex;
	flex-direction: row;
}

.copy {
	color:  #2da8f0;
}

/* Navigation */


