#IDEA files
*.idea
.idea/workspace.xml
robots.txt
sitemap.xml
# sources/init/db.config.php
# sources/php/db.config.php
/portal/docker-compose.yml
_notes/
/DEVMACHINE
error_log
init/temple_sean_db.sql
php_errorlog
error_log
/init
/docker-compose.yml
/robots.txt
/Dockerfile
/config.ini
/image/cache
# /uploads
# /.htaccess
/.logs
/admin/filemanager/thumbs
# /portal/uploads
/sitemap.xml
/DEVMACHINE
_notes/
